.description {
    display: flex;
    text-align: left;
    font-family: "Overpass", sans-serif;
    color: var(--primary-very-dark-blue);
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
}

.description-picture {
    position: relative;
    left: -22%;
    margin-right: -20rem;
}

.description-picture > img:nth-of-type(2) {
    display: none;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 5rem;
}

.simple, .tooling {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.simple > p, .tooling > p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 28px;
    font-weight: 300;
    max-width: 90ch;
}

@media (max-width: 768px) {
    .description-picture > img:nth-of-type(2) {
        display: initial;
    }
    
    .description-picture > img:nth-of-type(1) {
        display: none;
    }

    .description-picture {
        position: initial;
        left: 0;
        margin-right: 0;
    }
    
    
    .simple, .tooling {
        align-items: center;
    }

    .description {
        flex-direction: column;
        text-align: center;
        margin-top: -12rem;
        margin-bottom: 7rem;
    }

    .simple > p, .tooling > p {
    }

}