.description {
    display: flex;
    text-align: left;
    font-family: "Overpass", sans-serif;
    color: var(--primary-very-dark-blue);
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
}

.description-picture {
    position: relative;
    left: -22%;
    margin-right: -20rem;
    /*width: clamp(30%, 100%, 300%);*/
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 5rem;
}

.simple, .tooling {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.simple > p, .tooling > p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 28px;
    font-weight: 300;
    width: clamp(45ch, 50%, 75ch);
}