.intro {
    text-align: center;
    background-image: url(../Assets/images/bg-pattern-intro-desktop.svg),
    linear-gradient(150deg, var(--gradient-very-light-red), var(--gradient-light-red) 80%);
    background-size: 270%, auto;
    background-position: 30% 50%, center;
    background-repeat: no-repeat;
    padding-top: 15rem;
    padding-bottom: 15rem;
    border-radius: 0 0 0 6rem;
    
}

.intro > h1, .intro > p {
    font-family: "Overpass", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 4rem;
}

.intro > p {
    font-weight: 300;
    font-size: 1.125rem;
}

.intro > p {
    padding-top: 1rem;
}

.intro-go-to {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
    padding-top: 3.5rem;
}

.start {
    color: var(--primary-light-red);
    padding: 0.8rem 2rem;
    border-radius: 1.5rem;
    background: var(--neutral-white);
    transition: 120ms ease-in-out;
}

.start:hover {
    cursor: pointer;
    background: #FF7B86;
    color: var(--neutral-white)
}
.learn {
    border: 2px solid var(--neutral-white);
    color: var(--neutral-white);
    padding: 0.8rem 2.5rem;
    border-radius: 1.5rem;
    transition: 120ms ease-in-out;
    font-weight: 700;
}

.learn:hover {
    cursor: pointer;
    color: var(--primary-light-red);
    background: var(--neutral-white);
}