header {
    padding: 2em 10%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: transparent;
    font-weight: 700;
    transition: background-color 0.3s;
}

.scroll-nav {
    background: var(--neutral-very-dark-black-blue);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links > div > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.75;
    transition: 120ms ease-in-out;
}

.nav-links > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.link-menu {
    background: var(--neutral-white);
    color: #2D2E40;
    font-weight: 400;
    border-radius: 0.3rem;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: absolute;
    top: 3.3rem;
    width: 5rem;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
    
}

.link-menu > div {
    padding: 0.5rem 0;
}

.link-menu-inactive {
    display: none;
}

.link-menu-active {
    display: initial;
}

.product-container > img, 
.company-container > img,
.connect-container > img {
    transition: 0.3s;
}

.rotate-arrow {
    transform: rotate(180deg);
}




.link-menu > div {
    transition: 120ms ease-in-out;
}

.link-menu > div:hover {
    cursor: pointer;
    font-weight: 700;
    
}


.nav-links > div > div:nth-of-type(1):hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
}

.register-container {
    display: flex;
    gap: 2rem;
    margin-left: auto;
    align-items: center;
}

.register-container > div:nth-of-type(1) {
    opacity: 0.75;
    transition: 120ms ease-in-out;
}

.register-container > div:nth-of-type(1):hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.register-container > div:nth-of-type(2) {
    color: var(--primary-light-red);
    padding: 0.8rem 2.5rem;
    border-radius: 1.5rem;
    background: var(--neutral-white);
    transition: 120ms ease-in-out;
}

.register-container > div:nth-of-type(2):hover {
    cursor: pointer;
    background: #FF7B86;
    color: var(--neutral-white)
}

.toggle-menu {
    display: none;
    margin-left: auto;
}
.toggle-menu:hover {
    cursor: pointer;
}

.mobile-menu-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3.5rem 1.5rem;
    padding: 1.5rem;
    position: fixed;
    background: var(--neutral-white);
    color: #1F3E5A;
    border-radius: 0.35rem;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    user-select: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
}

.mobile-menu-container-active {
    display: flex;
}

.mobile-menu-container-inactive {
    display: none;
}



.mobile-section-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-toggle-login {
    transition: 120ms ease-in-out;
}

.mobile-toggle-login:hover {
    cursor: pointer;
    text-decoration: underline;
}

.separator {
    border-top: 1px solid #8c8b8b;
    opacity: 0.3;
    width: 100%;
}



.mobile-toggle-sign-up {
    color: var(--neutral-white);
    padding: 0.8rem 2.5rem;
    border-radius: 1.5rem;
    background: linear-gradient(150deg, var(--gradient-very-light-red), var(--gradient-light-red) 80%);
    transition: 120ms ease-in-out;
}

.mobile-toggle-sign-up:hover {
    cursor: pointer;
    opacity: 0.5;
}


    


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .register-container {
        display: none;
    }
    
    .toggle-menu {
        display: initial;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
